<%- include ('partials/header') %>

<div class=" container row text-center" style="display: flex; flex-wrap: wrap;">
  <% products.forEach(function(product){ %>
  <div class="card-container">
    <div class="card">
      <img class="card-img-top" src="<%= product.image %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text"><%= product.descp %></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <% }); %>	
</div>


<%- include ('partials/footer') %>
