<%- include ('partials/header') %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">AUCTION</p>
      <div class="list-group">
        <li class="list-group-item"><a class="" href="/">Go Back</a></li>
        <li class="list-group-item">Dummy data 2</li>
        <li class="list-group-item">Dummy data 3</li>
      </div>
    </div>

    <div class="col-md-9">
      <div class="thumbnail">
        <img
          class="image-responsive"
          src="<%= product.image %>"
          alt="Image Not Available"
        />
        <div class="caption">
          <h4 class="pull-right">min bid- Rs. <%= product.price %></h4>
          <div class="card-title font-weight-bold">
            <h1><a href="#"><%= product.name %></a></h1>
          </div>
          
          <p>
            <%= product.descp %> <hr>
            <em>bid closes on - </em>
            <%= product.time.substring(0,10) %> at 
            <%= product.time.substring(11,5) %>
          </p>
          <p>
            <em>sold by- <%= product.seller.username%></em>
          </p>
          <% if(currentUser && product.seller.id.equals(currentUser._id)){ %>
            <form id="delete-form" action="/product/<%=product._id%>/delete?_method=DELETE" method="POST">
              <a class="btn btn-warning" href="/product/<%= product._id %>/edit"
                >Edit</a
              >
              <button class="btn btn-danger">Remove</button>
            </form>
          <% } %>
        </div>
      </div>

      <div class="card card-body bg-light">
        <div class="">
          <form
            class="bid-form"
            method="POST"
            action="/product/<%= product._id %>/bid"
          >
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button class="btn btn-primary">Submit!</button>
              </div>
              <input type="text" class="form-control" name="bid[amount]" placeholder="Enter Your Bid Amount" >
            </div>
            
          </form>
        </div>
        <hr />

        <% product.bids.forEach(function(bid){ %>
        <div class="row">
          <div class="col-md-12">
            <strong><%= bid.buyer.username %></strong>
            <span class="pull-right">added just now</span>
            <p><%= bid.amount %></p>
            <% if(currentUser && bid.buyer.id.equals(currentUser._id)){ %>
            <form id="delete-bid" action="/product/<%=product._id%>/bid/<%=bid._id%>/delete?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete Bid</button>
            </form>
            <% } %>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>

<%- include ('partials/footer') %>
